$primaryColor: #F0553F;
$secondaryColor: #F5A623;
$linkColor: #6a5acd;
$isMobile: "only screen and (max-device-width: 767px)";

@import "partials/app";
@import "partials/header";
@import "partials/messaging";
@import "partials/forms";
@import "partials/autocomplete";
@import "partials/date-time";
@import "partials/problems";
@import "partials/user-search";
@import "partials/refund";
@import "partials/promo-codes";
