
label, .button {
	margin-top: 30px;
	display: block;

	.req {
		color: red; // Required asterisk
	}
}

.button {
	cursor: pointer;
	background-color: $secondaryColor;
	color: #FFF;
	height: 30px;
	width: 120px;
	text-align: center;
	line-height: 30px;
	padding: 0 6px;
	border-radius: 3px;
	border: none;

 	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;

	&.disabled {
		cursor: inherit;
		pointer-events: none;
		background-color: #EEE;
	}

	&:hover {
		background-color: darken($secondaryColor, 10%);
	}

  &.button-cancel, &.button-submit {
    display: inline-block;
    margin-right: 20px;
  }

  &.button-cancel {
    background-color: #999;

    &:hover {
      background-color: darken(#999, 20%);
    }
  }
}

input {
  color: #777;

  @media #{$isMobile} {
  	width: 100%;
  }

	&[type=text],
	&[type=number] {
		height: 25px;
    font-size: 15px;
	}
}

.select {
	display: inline-block;
	position: relative;

  &:after {
  	content: '\25BF';
  	position: absolute;
  	top: 3px;
  	right: 4px;
  	height: 25px;
  	color: #444;
  	pointer-events: none;
  }

}

select {
	height: 26px;
	font-size: 15px;
  -webkit-appearance: none;
  border-color: #BBB;
  border-radius: 3px;
  padding: 0 18px 0 10px;
  position: relative;
  background-color: #FFF;
}

table {
	border: 1px solid #666;

	thead {
		tr {
			background-color: cornflowerblue;
			th {
				border-bottom: 1px solid #666;
			}
		}
	}

	tbody {
		tr {
			&:nth-child(odd) {
				background-color: #EEE;
			}

			&.selected {
				background-color: lightgreen;
				border: 1px solid $secondaryColor;
			}
		}
	}

	td, th {
		padding: 8px;

		&:not(:last-of-type) {
			border-right: 1px solid #666;
		}
	}
}

.link {
	color: $secondaryColor;
	cursor: pointer;

	&:hover {
		color: darken($secondaryColor, 10%);
		text-decoration: underline;
	}
}

.run-order-data {

	.button.verify {
		display: inline-block;
		margin: 0;
	}
}

.user-search, .refunds, .resolutions, .promotions {

  .form {

    select {
      min-width: 180px + 180 + 15;
      border: 1px solid #DDD;
    }

    label {
      display: block;
      font-size: small;
      font-weight: normal;
      margin-top: 15px;
      margin-bottom: 0;
    }
    
    input {
      width: 180px;
      border: 1px solid #DDD;

      &.wide {
        width: 280px;
			}
			
			&:disabled {
				background-color: lightgrey;
				color: grey;
			}

      @media #{$isMobile} {
        width: 100%;
      }
    }

    @media #{$isMobile} {
      .column {
				width: 100%;
			}
    }
  }
}