header {
	min-height: 48px;
	padding: 0 10px;
	background-color: $secondaryColor;
	color: #FFF;

	.menu-link {
		display: none;
		width: 80%;
		line-height: 48px;
		color: #444;
		text-decoration: underline;

		&:active {
			background-color: #888;
		}
	}
	 
	.menu-options {
	 	display: inline-block;
	 	height: 100%;
	 	width: 92%;
	 	margin: 0;

		a {
			text-decoration: none;
		 	display: inline-block;
		 	padding: 0 10px;
		 	height: 100%;
		 	line-height: 48px;
		 	cursor: pointer;
		 	color: #FFF;

		 	transition: background-color 0.3s ease;
			-webkit-transition: background-color 0.3s ease;
			-moz-transition: background-color 0.3s ease;
			-o-transition: background-color 0.3s ease;

		 	&:hover, &:active, &.active {
		 		background-color: $primaryColor;
		 	}
		}
	}

	@media #{$isMobile} {
		.menu-link {
			display: inline-block;
		}

		ul {
			max-height: 0;
			overflow: hidden;

		 	transition: max-height 0.3s ease;
			-webkit-transition: max-height 0.3s ease;
			-moz-transition: max-height 0.3s ease;
			-o-transition: max-height 0.3s ease;

			li {
				width: 100%;
				border-top: 1px solid #EEE;
			}
		}

		&.mobile-active {
			ul {
				max-height: 600px;
			}
		}
	}

	.env-right {
		display: inline-block;
		float: right;
    text-transform: uppercase;
    font-size: x-small;
    color: #444;

		select {
			background-color: lighten($primaryColor, 35%);
		}

		@media #{$isMobile} {
			position: absolute;
			top: 10px;
		}
	}
}
