.promo-codes {
	
	.tabs {
		width: 320px;
		margin: 10px auto;

		.tab {
			width: 48%;
			box-sizing: border-box;
			display: inline-block;
			cursor: pointer;
			color: $secondaryColor;
			padding: 5px 0;
			text-align: center;

			&:first-of-type {
				margin-right: 5px;
			}

			&:last-of-type {
				margin-left: 5px;
			}

			&.active {
				background-color: $primaryColor;
				color: white;
			}

			&:not(.active) {
				&:first-of-type {
					border-right: 2px solid #444;
				}
				&:last-of-type {
					border-left: 2px solid #444;
				}
			}

			&:not(.active):hover {
				background-color: #EFEFEF;
				color: lighten($secondaryColor, 10%);
			}
		}
	}


	.pill {
		display: inline-block;
		padding: 3px 5px;
		margin-right: 4px;
		margin-bottom: 4px;
		background-color: $secondaryColor;
		color: white;
		border-radius: 10px;
	}


	.create-delete-form, .code-usage {

		.column {
			width: 50%;
			vertical-align: top;
			margin-right: 0 !important;

			&.triple {
				width: 33%;

				input {
					width: 90%;
				}
			}

			label {
				display: block;
			}

			input, select {
				width: 60%;
			}

			&.double {
				>div {
					display: inline-block;
					vertical-align: top;
					width: 50%;

					label {
						display: block;
					}

					input {
						width: 90%;
					}
				}
			}
		}

		p {
			font-size: small;
			font-style: italic;
		}

		input:disabled {
			background-color: lightgrey;
			color: grey;
		}

		.label-inline {
			width: 50%;

			label {
				display: inline-block;
				width: 100px;
				margin-right: 15px;
			}

			input {
				width: auto;
			}
		}

		.button.submit {
			float: right;

			&.disabled {
				background-color: darkgrey;
			}
		}
	}

	.create-delete-form {

		.highlight {
			background-color: #EEE;
			border-radius: 10px;
			padding: 0 15px 15px 15px;
			margin-top: 15px;

			&.disabled {
				pointer-events: none;

				input, select {
					background-color: lightgrey;
					color: lightgrey;
				}
			}
		}

		hr {
			margin-top: 10px;
			margin-bottom: 0;
			border-color: $primaryColor;
			position: relative;

			&:after {
				content: 'OR';
				position: absolute;
				text-align: center;
				background-color: #EEE;
				color: $primaryColor;
				font-weight: bold;
				width: 6%;
				left: 47%;
				height: 20px;
				bottom: -10px;
			}
		}

		.labeled-input b {
			color: $primaryColor;
		}

		.note {
			color: $primaryColor;
			text-align: center;
			margin-top: 20px;
			margin-bottom: 0;
		}
	}


	.code-usage {

		label {
			margin-top: 15px;
		}

		.region-select {

			label {
				display: none;
			}
			
			>div>div {
				position: relative;
				z-index: 10;
			}

			.pill {
				margin-top: 5px;
				cursor: pointer;
				z-index: 0;
				border: 1px solid $secondaryColor;

				&:hover {
					background-color: white;
					border: 1px solid $primaryColor;
					color: $primaryColor;
					text-decoration: line-through;
				}
			}
		}

		h3 {
			text-align: center;
		}
	}
}
